</header>

<!-- The content of your page would go here. -->

<footer class="footer-distributed">
  <div class="footer-left">

    <h3>TNT<span>Sober Living</span></h3>

    <p class="footer-links">
      <a href="/index.php">Home</a>
      ·
      <a href="/index.php#photos">Photos</a>
      ·
      <a href="/assetts/hickory-house-intake.pdf" target="_blank">Print Intake</a>
      ·
      <a href="/contact.html">Messaging</a>
    </p>

    <p class="footer-company-name">TNT Sober Living &copy; 2017</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>21 Duxbury Street</span> Port St Lucie, Florida</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>+1.561.888.1234</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:info@tntsoberliving.com">info@tntsoberliving.com</a></p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>About The Company</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
    </p>
    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>

    </div>

  </div>

</footer>

</body>

</html>
