</header>

<!-- The content of your page would go here. -->

<footer class="footer-distributed">
  <div class="footer-left">

    <h3>TNT Sober Living</span></h3>

    <p class="footer-links">
      <a href="/index.php">Home</a>
      ·
      <a href="/index.php#photos">Photos</a>
      ·
      <a href="/assetts/hickory-house-intake.pdf" target="_blank">Print Intake</a>
      ·
      <a href="/views/contact.php">Messaging</a>
    </p>

    <p class="footer-company-name">TNT Sober Living &copy; 2017</p>
  </div>

  <div class="footer-center contact-icons">
    <div>
      <a target = "_blank" href="https://www.google.com/maps?ll=27.289983,-80.362934&z=10&t=m&hl=en-US&gl=US&mapclient=embed&q=Port+St+Lucie+Florida">
        <i class="fa fa-map-marker"></i></a>
      <p><span>21 Duxbury Street</span> Port St Lucie, Florida</p>
    </div>
    <div>
      <a href="tel:+7724184480"><i class="fa fa-phone"></i></a>
      <p><a href="tel:+7724184480">+1.772.418.4480</a></p>
    </div>
    <div>
      <a href="mailto:info@tntsoberliving.com"><i class="fa fa-envelope"></i></a>
      <p><a href="mailto:info@tntsoberliving.com">info@tntsoberliving.com</a></p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>About The Company</span>
      TNT halfway houses work to provide ethical and affordable living to men in early recovery. Our personal experience and passion for recovery naturally creates an atmosphere for men to succeed in their own journey of sobriety.
    </p>
    <div class="footer-icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
      <a href="mailto:info@tntsoberliving.com"><i class="fa fa-envelope"></i></a>
    </div>

  </div>

</footer>

</body>

</html>
