<body>
  <!-- Top Bar Phone Number -->
  <div class="top-bar">
    <span class="pull-right top-bar-call-today"><a href="tel:+17724184480">
      <span><i class="fa fa-phone" aria-hidden="true"></i></span> CALL TODAY 772-418-4480</a>
    </span>
    <span class="pull-right top-bar-social-icons">
      <ul class="list-unstyled list-inline list-social-icons">
        <li>
          <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
        </li>
        <li>
          <a href="mailto:info@tntsoberliving.com"><i class="fa fa-envelope-square fa-2x"></i></a>
        </li>
      </ul>
    </span>
  </div>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand tnt-logo" href="/index.php"> 
          <img src="/assetts/img/logos/200x100/tnt-sober-living-logo-200x150.png" alt="TNT Sober Living Logo"> 
        </a> 
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right pull-right">
          <li>
            <a href="/index.php#photo-section">Photos</a>
          </li>
          <li>
            <a href="/assetts/pdf/hickory-house-intake.pdf" target="_blank">Print Intake</a>
          </li>
          <li>
            <a href="/views/contact.php">Contact</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>